@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

h1 {
font-weight: 900;
color: #575F7D ;
font-size: 32px;
text-align: center;
   }
h2 {
color: green;
}
body {
    text-align: center;
background-color: #F7F9FC;
font-family: 'Roboto', sans-serif;
color: #575F7D
}
div {
width: 50%;
padding: 24px;
margin: 24px auto;
background-color: rgba(255,255,255,0.75);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 10px;

}
img {
border-radius: 50%;
}
.button {

}
.button-blue{
	background-color: blue;
	color: white;
	font-weight:bold;
	padding: 16px;
	border:1px blue solid;
	border-radius: 6px;
	margin: 24px auto;
	display:block;
	width: 50%;
	transition: 1s;
	text-align: center;

}
.button-blue: hover {background-color: white;
	color: blue;
	transition: 1s;

}

body{
    background-color: sienna;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e8/Campus_Kedge_BS_%C3%A0_Bordeaux.jpg);
    background-size: cover;
}